{% extends 'base.html.twig' %}

{% block title %}Pagina de Eventos - Panel de administración{% endblock %}

{% block body %}
    <main class="admin_panel">
        <h1>Panel de administración</h1>
            <a class="link_create_event" href="{{ path('create_event_page') }}">
                <div class="create_event">
                    Crear Evento
                </div>
            </a>
        <div class="events_table">
            <table class="table">
                <thead>
                    <tr>
                        <th class="table__header">ID</th>
                        <th class="table__header">Título</th>
                        <th class="table__header">Organizador</th>
                        <th class="table__header">Precio</th>
                        <th class="table__header">Descuento</th>
                        <th class="table__header">Preventa</th>
                        <th class="table__header">Programado</th>
                        <th class="table__header">Creado por</th>
                        <th class="table__header">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                {% for event in events.data %}
                    <tr>
                        <td>{{ event.id }}</td>
                        <td class="table__title"><a href="{{ path('event_page', {'id': event.id}) }}">{{ event.title }}</a></td>
                        <td>{{ event.organizer }}</td>
                        <td>{{ event.price }}</td>
                        <td>{{ event.percentageDiscount ?? '0'}}</td>
                        {% if(event.presale.date is defined) %}
                            <td>{{ event.presale.date|date("D \\* M jS \\* g:ia Y") }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        <td>{{ event.scheduledAt.date|date("D \\* M jS \\* g:ia Y") }}</td>
                        <td>{{ event.createdBy.email }}</td>
                        <td>
                            <a href="{{ path('event_page', {'id': event.id}) }}">Ver</a> |
                            <a href="{{ path('edit_event_page', {'id': event.id}) }}">Editar</a> |
                            <a href="{{ path('delete_event_page', {'id': event.id}) }}">Borrar</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock %}
