{% extends 'base.html.twig' %}

{% block title %}Pagina de Eventos - Eventos{% endblock %}

{% block body %}
    <main class="loginForm">
        <div class="loginCard">
            {% if(error is defined and error) %}
                <div>
                    <span>{{ error }}</span>
                </div>
            {% endif %}
            <h2>Crear evento</h2>
            {{ form_start(form) }}

            {{ form_widget(form) }}

            <button type="submit">Crear evento</button>
            {{ form_end(form) }}
        </div>
    </main>
{% endblock %}
