{% extends 'base.html.twig' %}

{% block title %}Pagina de Eventos - Eventos{% endblock %}

{% block body %}
    <main class="loginForm">
        <div class="loginCard">
            {% if(error is defined and error) %}
                <div>
                    <span>{{ error }}</span>
                </div>
            {% endif %}
            <h2>Editar evento</h2>
            {{ form_start(form) }}

            <span>Títutlo: </span>
            {{ form_widget(form.title, {'value': event.data.title}) }}
            <br>
            <span>Organizador: </span>
            {{ form_widget(form.organizer, {'value': event.data.organizer}) }}
            <br>
            <span>Descripción: </span>
            {{ form_widget(form.description, {'value': event.data.description}) }}
            <br>
            <span>Preventa: </span>
            {{ form_widget(form.presale, {'value': event.data.presale.date}) }}
            <br>
            <span>Precio: </span>
            {{ form_widget(form.price, {'value': event.data.price}) }}
            <br>
            <span>Descuento: </span>
            {{ form_widget(form.percentageDiscount, {'value': event.data.percentageDiscount}) }}
            <br>
            <span>Programado: </span>
            {{ form_widget(form.scheduledAt, {'value': event.data.scheduledAt.date}) }}
            <br>
            <span>Restricciones: </span>
            {{ form_widget(form.restrictions, {'value': event.data.restrictions}) }}
            <br>
            <span>Duración estimada: </span>
            {{ form_widget(form.estimatedDuration, {'value': event.data.estimatedDuration}) }}
            <br>
            <span>Límite de edad: </span>
            {{ form_widget(form.ageLimit, {'value': event.data.ageLimit}) }}
            <br>
            <span>Banner (URL): </span>
            {{ form_widget(form.banner) }}
            <br>
            <span>Sede (ID): </span>
            {{ form_widget(form.venueId, {'value': event.data.venue.id}) }}

            <button type="submit">Editar evento</button>
            {{ form_end(form) }}
        </div>
    </main>
{% endblock %}
