{% extends 'base.html.twig' %}

{% block title %}Pagina de Eventos - Event{% endblock %}

{% block body %}
    <main class="events">
        <div class="return">
            <a href="{{ path('index_page') }}"><- Regresar</a>
        </div>
        <section class="events__next event">
            <div class="event__image">
                <img src="{{ event.data.banner }}" alt="banner">
            </div>
            <div class="summary">
                <h2>{{ event.data.title }}</h2>
                <h4>{{ event.data.organizer }}</h4>
                <p>{{ event.data.description }}</p>
                <span>${{ event.data.price }}</span>
                {% if(event.data.percentageDiscount) %}
                    <span>| {{ event.data.percentageDiscount }} % de descuento</span>
                {% endif %}
            </div>
            <div class="info_event">
                <hr>
                <h5>Info:</h5>
                {% if(event.data.presale) %}
                    <p>Preventa: {{ event.data.presale.date|date("D M jS g:ia Y") }}</p>
                {% endif %}
                <p>Programado para: {{ event.data.scheduledAt.date|date("D M jS g:ia Y") }}</p>
                <p>Duración estimada: {{ event.data.estimatedDuration }}</p>
                <p>Límite de edad: {{ event.data.ageLimit ?? "Sin establecer" }}</p>
                <p>Restricciones: {{ event.data.restrictions ?? "Sin establecer"}}</p>
                <hr>
                <h5>Sede:</h5>
                <p>{{ event.data.venue.name }}</p>
                <p>{{ event.data.venue.country }}</p>
                <p>{{ event.data.venue.city }}</p>
                <p>{{ event.data.venue.postalCode }}</p>
                <p>{{ event.data.venue.address }}</p>
                <hr>
                <h5>Evento creado por:</h5>
                <p>{{ event.data.createdBy.firstName }} | {{ event.data.createdBy.email }}</p>
            </div>
        </section>
    </main>
{% endblock %}
