{% extends 'base.html.twig' %}

{% block title %}Pagina de Eventos - Inicio{% endblock %}

{% block body %}
    <main class="events">
        <section class="events__next">
            {% if(jwt is defined and jwt) %}
                <a class="link_create_event" href="{{ path('create_event_page') }}">
                    <div class="create_event">
                        Crear Evento
                    </div>
                </a>
            {% endif %}
            <h2>Eventos próximos</h2>
            <div class="cards">
                {% for event in responseNext.data %}
                    <div class="card">
                        <div class="card_image">
                            <img src="{{ event.banner }}" alt="#"/>
                            {% if(event.presale) %}
                                <div class="presale">Preventa: {{ event.presale.date|date("D F jS \\* g:ia Y") }} </div>
                            {% endif %}
                        </div>
                        <div class="card__info">
                            <span class="schedule"> {{ event.scheduledAt.date|date("D \\* M jS \\* g:ia Y") }} </span>
                            <h3><a href="/event/{{ event.id }}">{{ event.title }}</a></h3>
                            <span>{{ event.organizer }}</span>
                            <hr>
                            <p>{{ event.venue.city }}, {{ event.venue.country }} * {{ event.venue.name }}</p>
                            <a href="/event/{{ event.id }}" class="moreInfo">
                                <div class="btn">
                                    MAS INFO
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
        <section class="events__old">
            <h2>Eventos Anteriores</h2>
            <div class="cards">
                {% for event in responseOld.data %}
                    <div class="card">
                        <div class="card_image">
                            <img src="{{ event.banner }}" alt="#"/>
                            {% if(event.presale) %}
                                <div class="presale">Preventa: {{ event.presale.date|date("D F jS \\* g:ia") }} </div>
                            {% endif %}
                        </div>
                        <div class="card__info">
                            <span class="schedule"> {{ event.scheduledAt.date|date("D \\* M jS \\* g:ia") }} </span>
                            <h3><a href="/event/{{ event.id }}">{{ event.title }}</a></h3>
                            <span>{{ event.organizer }}</span>
                            <hr>
                            <p>{{ event.venue.city }}, {{ event.venue.country }} * {{ event.venue.name }}</p>
                            <a href="/event/{{ event.id }}" class="moreInfo">
                                <div class="btn">
                                    MAS INFO
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
        <section class="events__offer">
            <h2>Eventos en oferta</h2>
            <div class="cards">
                {% for event in responseOffer.data %}
                    <div class="card">
                        <div class="card_image">
                            <img src="{{ event.banner }}" alt="#"/>
                            {% if(event.presale) %}
                                <div class="presale">Preventa: {{ event.presale.date|date("D F jS \\* g:ia") }} </div>
                            {% endif %}
                        </div>
                        <div class="card__info">
                            <span class="schedule"> {{ event.scheduledAt.date|date("D \\* M jS \\* g:ia") }} </span>
                            <h3><a href="/event/{{ event.id }}">{{ event.title }}</a></h3>
                            <span>{{ event.organizer }}</span>
                            <hr>
                            <p>{{ event.venue.city }}, {{ event.venue.country }} * {{ event.venue.name }}</p>
                            <a href="/event/{{ event.id }}" class="moreInfo">
                                <div class="btn">
                                    MAS INFO
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </main>
{% endblock %}
