{% extends 'base.html.twig' %}

{% block title %}Pagina de Eventos - Inicio de Sesión{% endblock %}

{% block body %}
<main class="loginForm">
    <div class="loginCard">
        {% if(error is defined and error) %}
            <div>
                <span>{{ error }}</span>
            </div>
        {% endif %}
        <h2>Iniciar Sesión</h2>
        {{ form_start(form) }}

        {{ form_widget(form) }}

        <button type="submit">Iniciar Sesión</button>
        {{ form_end(form) }}
        <p>¿No tienes una cuenta? <a href="{{ path('register_page') }}">Registrate</a></p>
    </div>
</main>
{% endblock %}
