{% extends 'base.html.twig' %}

{% block title %}Pagina de Eventos - Registro{% endblock %}

{% block body %}
    <main class="loginForm">
        <div class="loginCard">
            {% if(error is defined and error) %}
                <div>
                    <span>{{ error }}</span>
                </div>
            {% endif %}
            <h2>Registrarse</h2>
            {{ form_start(form) }}

            {{ form_widget(form) }}

            <button type="submit">Registrarse</button>
            {{ form_end(form) }}
            <p>¿Ya tienes una cuenta? <a href="{{ path('login_page') }}">Inicia Sesión</a></p>
        </div>
    </main>
{% endblock %}
