body {
    background-color: #383838;
    color: #FFFFFF;
    font-family: sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #171f17;
    width: 100vw;
    height: 100%;
    flex-wrap: wrap;
}

.header__title {
    flex-basis: 30%;
    text-align: center;
    line-height: 1.5;
}

.header__title a {
    text-decoration: none;
    color: #fff;
}

.header__links {
    display: flex;
    flex-direction: row;
    flex-basis: 65%;
    flex-wrap: nowrap;
}

.header__links-group {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-end;
    gap: 5px;
    flex-wrap: nowrap;
    margin: 0;
}

.header__links-item {
    min-width: max-content;
}

.header__links-item a:hover {
    background-color: rgba(161, 236, 73, 0.46);
}

.header__links-item a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 14px;
    min-width: max-content;
}

.basis-75 {
    flex-basis: 70%;
}

.basis-20 {
    flex-basis: 20%;
}

.events {
    margin: 5vh 5vw;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2vw;
    color: #383838;
    margin: 15px 0;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #f7f8f2;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    max-width: 350px;
}

.card_image {
    position: relative;
    z-index: 1;
}

.card_image img {
    border-radius: 5px 5px 0 0;
    width: 350px;
    max-width: 350px;
    max-height: 200px;
}

.card__info {
    padding: 5px 15px 10px 15px;
}

.schedule {
    color: #105e10;
    font-weight: bold;
}

.card__info h3 {
    font-size: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card__info h3 a {
    text-decoration: none;
    color: #009a00;
}

.presale {
    background-color: rgb(27, 171, 30);
    border-radius: 2px;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 1;
    position: absolute;
    padding: 4px 8px;
    bottom: 15px;
    z-index: 2;
}

.card__info p {
    margin: 0;
}

.btn {
    margin: 5px 0;
    padding: 10px;
    background-color: deepskyblue;
    text-align: center;
    border-radius: 7px;
}

.btn:hover {
    background-color: #00a4d9;
}

.moreInfo {
    text-decoration: none;
    color: #181818;
}

.loginForm {
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginCard {
    color: #000;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.form-control {
    height: 30px;
    margin: 5px 0;
}

.event__image img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 5px solid #FFF;
}

.event {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.summary {
    text-wrap: normal;
    flex-basis: 70%;
}

.info_event {
    background-color: white;
    border-radius: 10px;
    color: #000;
    font-family: arial, sans-serif;
    padding: 20px;
    width: 80vw;
}

.summary h4 {
    font-size: 18px;
}

.return {
    margin-bottom: 20px;
}

.return a {
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.pagesContainer {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagesContainer a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    margin: 0 5px;
}

.admin_panel {
    padding: 40px 80px;
    margin: 50px;
    border-radius: 10px;
    background-color: #2d2a21;
}


.table {
    font-family: sans-serif;
    color: #000;
    border-spacing: 5px;
}

.table, th, td {
    padding: .25em .5em;
    text-align: left;
}

td {
    background-color: #eee;
}

th {
    background-color: #266e00;
    color:#fff;
}

.table__title {
    max-width: 200px;
}

.table a {
    text-decoration: none;
    color: #08ad00;
}

.create_event {
    text-align: center;
    padding: 10px;
    background-color: green;
    max-width: 150px;
    border-radius: 20px;
}

.link_create_event {
    text-decoration: none;
    color: white;
}


@media only screen and (max-width: 500px) {
    header {
        flex-wrap: wrap;
    }

    .header__title {
        flex-basis: 100%;
    }

    .header__links {
        flex-wrap: wrap;
        flex-basis: 100%;
    }

    .header__links-group {
        flex-wrap: wrap;
        flex-basis: 100%;
        justify-content: center;
    }
}
