<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Pagina de Eventos{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('build/app.js') }}"></script>
    {% endblock %}
</head>
<body>
{% block header %}
    <header>
        <div class="header__title">
            <h1><a href="{{ path('index_page') }}">Eventos</a></h1>
        </div>
        <div class="header__links">
            <ul class="header__links-group basis-75">
                <li class="header__links-item"><a href="{{ path('events_page', {'category': 1}) }}">Próximos</a></li>
                <li class="header__links-item"><a href="{{ path('events_page', {'category': 2}) }}">Pasados</a></li>
                <li class="header__links-item"><a href="{{ path('events_page', {'category': 3}) }}">En oferta</a></li>
            </ul>
            <ul class="header__links-group basis-20">
                {% if(jwt is defined and jwt) %}
                    {% if(isAdmin is defined and isAdmin) %}
                        <li class="header__links-item"><a href="{{ path('panel_page') }}">Panel</a></li>
                    {% endif %}
                    <li class="header__links-item"><a href="{{ path('logout_page') }}">Cerrar Sesión</a></li>
                {% else %}
                    <li class="header__links-item"><a href="{{ path('login_page') }}">Iniciar Sesión</a></li>
                {% endif %}
            </ul>
        </div>
    </header>
{% endblock %}
{% block body %}{% endblock %}
{% block footer %}{% endblock %}
</body>
</html>
